

<!-- 
Template från nätet 
-->


<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Dimension{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <div class="logo">
                    <span class="icon fa-gem"></span>
                </div>
                <div class="content">
                    <div class="inner">
                        <h1>Dimension</h1>
                        <p>Vår databas med över 1 000 000 personer ger dig möjlighet att utforska och analysera yrken och bostadsorter på ett enkelt sätt.</p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('work') }}">Database</a></li>
                        <!-- <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li> -->
                    </ul>
                </nav>
            </header>

            <!-- Main Content Area -->
            <div id="main">
                {% block content %}{% endblock %}
            </div>

            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

        </div>

        <!-- BG -->
        <div id="bg"></div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    </body>
</html>
